# Пример файла переменных окружения
# Копируем в .env и меняем значения на свои

# Keycloak OAuth2 client credentials
KEYCLOAK_CLIENT_ID=myclient
KEYCLOAK_CLIENT_SECRET=myclientsecret
PAYMENT_SERVICE_CLIENT_ID=paymentservice
PAYMENT_SERVICE_CLIENT_SECRET=paymentserviceclientsecret

# Keycloak admin credentials
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin